USE [master]
GO
/****** Object:  Database [DuAn]    Script Date: 12/3/2019 5:34:41 PM ******/
CREATE DATABASE [DuAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DuAn.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DuAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DuAn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuAn]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGia](
	[ID] [int] NOT NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaBG] [nvarchar](5) NULL,
	[DonGia] [float] NULL,
	[Giam] [float] NULL,
 CONSTRAINT [PK_BangGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BanPhong]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanPhong](
	[SoBan] [nvarchar](5) NOT NULL,
	[MaKV] [nvarchar](5) NULL,
	[MaBG] [nvarchar](5) NULL,
	[NoUse] [tinyint] NULL,
 CONSTRAINT [PK_BanPhong] PRIMARY KEY CLUSTERED 
(
	[SoBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoPhan](
	[MaBP] [nvarchar](5) NOT NULL,
	[TenBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_BoPhan] PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChungTu]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungTu](
	[SoCT] [nvarchar](7) NOT NULL,
	[NgayCT] [datetime] NULL,
	[Loai] [tinyint] NULL,
	[SoBan] [nvarchar](5) NULL,
	[MaKH] [nvarchar](7) NULL,
	[SoKhach] [int] NULL,
	[NoiDung] [nvarchar](250) NULL,
	[MaThuNgan] [nvarchar](7) NULL,
	[MaNhanVien] [nvarchar](7) NULL,
	[Giam] [float] NULL,
	[ThueVAT] [float] NULL,
	[PhiDV] [float] NULL,
	[SoTien] [float] NULL,
	[TraTruoc] [float] NULL,
	[ConNo] [float] NULL,
	[NgayDat] [datetime] NULL,
	[TrangThai] [tinyint] NULL,
 CONSTRAINT [PK_ChungTu] PRIMARY KEY CLUSTERED 
(
	[SoCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DongCT]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoCT] [nvarchar](7) NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaDVT] [nvarchar](7) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
	[TraLai] [int] NULL,
	[Giam] [float] NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_DongCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[MaDVT] [nvarchar](7) NOT NULL,
	[MaDinh] [tinyint] NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DVTKhac]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVTKhac](
	[ID] [int] NOT NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaDVT] [nvarchar](7) NULL,
	[QuyDoi] [float] NULL,
	[IsMenu] [tinyint] NULL,
 CONSTRAINT [PK_DVTKhac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](7) NOT NULL,
	[MaNhom] [nvarchar](5) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](10) NULL,
	[MaSoThue] [nvarchar](12) NULL,
	[ThuDK] [float] NULL,
	[TraDK] [float] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKV] [nvarchar](5) NOT NULL,
	[TenKV] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiBangGia]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBangGia](
	[MaBG] [nvarchar](5) NOT NULL,
	[TenBG] [nvarchar](50) NULL,
	[MatDinh] [tinyint] NULL,
 CONSTRAINT [PK_LoaiBangGia] PRIMARY KEY CLUSTERED 
(
	[MaBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](7) NOT NULL,
	[MaBP] [nvarchar](5) NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](10) NULL,
	[MaSoThue] [nvarchar](21) NULL,
	[IsKeToan] [tinyint] NULL,
	[IsThuNgan] [tinyint] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaNhom] [nvarchar](5) NOT NULL,
	[MaCha] [nvarchar](5) NULL,
	[TenNhom] [nvarchar](50) NULL,
	[LoaiNhom] [tinyint] NULL,
 CONSTRAINT [PK_NhomHang] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomKhach]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomKhach](
	[MaNhom] [nvarchar](5) NOT NULL,
	[MaCha] [nvarchar](5) NULL,
	[TenNhom] [nvarchar](50) NULL,
	[LoaiNhom] [tinyint] NULL,
 CONSTRAINT [PK_NhomKhach] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](20) NOT NULL,
	[MaNhom] [nvarchar](5) NULL,
	[TenSP] [nvarchar](50) NULL,
	[MaDVT] [nvarchar](7) NULL,
	[SLDK] [int] NULL,
	[GTDK] [float] NULL,
	[IsMenu] [tinyint] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [nvarchar](7) NOT NULL,
	[TaiKhoan] [char](10) NULL,
	[MatKhau] [char](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThanhPhan]    Script Date: 12/3/2019 5:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhan](
	[ID] [int] NOT NULL,
	[MaSP] [nvarchar](20) NULL,
	[MaDVT] [nvarchar](7) NULL,
	[MaTP] [nvarchar](20) NULL,
	[MaDVTTP] [nvarchar](7) NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_ThanhPhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BangGia] ([ID], [MaSP], [MaBG], [DonGia], [Giam]) VALUES (1, N'SP01', N'BGBS', 3000, NULL)
INSERT [dbo].[BangGia] ([ID], [MaSP], [MaBG], [DonGia], [Giam]) VALUES (2, N'SP02', N'BGBL', 10000, NULL)
INSERT [dbo].[BangGia] ([ID], [MaSP], [MaBG], [DonGia], [Giam]) VALUES (3, N'SP03', N'BGBL', 6000, NULL)
INSERT [dbo].[BanPhong] ([SoBan], [MaKV], [MaBG], [NoUse]) VALUES (N'SB01', N'KVPL', N'BGBL', 1)
INSERT [dbo].[BanPhong] ([SoBan], [MaKV], [MaBG], [NoUse]) VALUES (N'SB02', N'KVPL', N'BGBL', 0)
INSERT [dbo].[BanPhong] ([SoBan], [MaKV], [MaBG], [NoUse]) VALUES (N'SB03', N'KVPL', N'BGBL', 1)
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPKT', N'Kế Toán')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPOT', N'Nghĩ Làm')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPQL', N'Quản lý')
INSERT [dbo].[ChungTu] ([SoCT], [NgayCT], [Loai], [SoBan], [MaKH], [SoKhach], [NoiDung], [MaThuNgan], [MaNhanVien], [Giam], [ThueVAT], [PhiDV], [SoTien], [TraTruoc], [ConNo], [NgayDat], [TrangThai]) VALUES (N'CT01', CAST(N'2019-09-17 16:04:25.000' AS DateTime), 0, N'SB01', N'KH06', 1, N'Nhập Kho', N'NV07', N'NV07', 0, 0, 0, 21000, 100000, 79000, CAST(N'2019-09-16 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ChungTu] ([SoCT], [NgayCT], [Loai], [SoBan], [MaKH], [SoKhach], [NoiDung], [MaThuNgan], [MaNhanVien], [Giam], [ThueVAT], [PhiDV], [SoTien], [TraTruoc], [ConNo], [NgayDat], [TrangThai]) VALUES (N'CT02', CAST(N'2019-09-18 16:04:25.000' AS DateTime), 2, N'SB02', N'KH01', 5, N'Bán Lẻ', N'NV03', N'NV03', 0, 0, 0, 13000, 10000, -3000, CAST(N'2019-09-17 17:04:25.000' AS DateTime), 1)
INSERT [dbo].[ChungTu] ([SoCT], [NgayCT], [Loai], [SoBan], [MaKH], [SoKhach], [NoiDung], [MaThuNgan], [MaNhanVien], [Giam], [ThueVAT], [PhiDV], [SoTien], [TraTruoc], [ConNo], [NgayDat], [TrangThai]) VALUES (N'CT03', CAST(N'2019-11-29 15:51:16.000' AS DateTime), NULL, N'SB10', NULL, 1, NULL, NULL, N'NV01', 0, 0, 0, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[DongCT] ON 

INSERT [dbo].[DongCT] ([ID], [SoCT], [MaSP], [MaDVT], [SoLuong], [DonGia], [GioVao], [GioRa], [TraLai], [Giam], [GhiChu]) VALUES (1, N'CT01', N'SP08', N'Lon', 1, 15000, CAST(N'2019-09-17 05:00:00.000' AS DateTime), CAST(N'2019-09-17 05:01:00.000' AS DateTime), 0, 0, N'')
INSERT [dbo].[DongCT] ([ID], [SoCT], [MaSP], [MaDVT], [SoLuong], [DonGia], [GioVao], [GioRa], [TraLai], [Giam], [GhiChu]) VALUES (2, N'CT01', N'SP03', N'Lon', 2, 6000, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[DongCT] ([ID], [SoCT], [MaSP], [MaDVT], [SoLuong], [DonGia], [GioVao], [GioRa], [TraLai], [Giam], [GhiChu]) VALUES (3, N'CT02', N'SP09', N'Lon', 1, 13000, CAST(N'2019-09-17 08:00:00.000' AS DateTime), CAST(N'2019-09-17 08:00:00.000' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[DongCT] OFF
INSERT [dbo].[DonViTinh] ([MaDVT], [MaDinh]) VALUES (N'Bao', NULL)
INSERT [dbo].[DonViTinh] ([MaDVT], [MaDinh]) VALUES (N'Chai', NULL)
INSERT [dbo].[DonViTinh] ([MaDVT], [MaDinh]) VALUES (N'Hộp', NULL)
INSERT [dbo].[DVTKhac] ([ID], [MaSP], [MaDVT], [QuyDoi], [IsMenu]) VALUES (1, N'SP04', N'Kg', 1000, NULL)
INSERT [dbo].[DVTKhac] ([ID], [MaSP], [MaDVT], [QuyDoi], [IsMenu]) VALUES (2, N'SP02', N'Thung', 24, NULL)
INSERT [dbo].[DVTKhac] ([ID], [MaSP], [MaDVT], [QuyDoi], [IsMenu]) VALUES (3, N'SP10', N'Bao', 10, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [MaNhom], [TenKH], [DiaChi], [DienThoai], [MaSoThue], [ThuDK], [TraDK]) VALUES (N'KH01', N'MNKH', N'Khoa', N'Huế', N'0123456798', N'MT01', 0, 0)
INSERT [dbo].[KhachHang] ([MaKH], [MaNhom], [TenKH], [DiaChi], [DienThoai], [MaSoThue], [ThuDK], [TraDK]) VALUES (N'KH02', N'MNKH', N'Nghĩa', N'Huế', N'0123456798', N'MT02', 0, 0)
INSERT [dbo].[KhachHang] ([MaKH], [MaNhom], [TenKH], [DiaChi], [DienThoai], [MaSoThue], [ThuDK], [TraDK]) VALUES (N'KH03', N'MNKH', N'Bạch', N'Huế', N'0123465789', N'MT03', 0, 0)
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KVNT', N'Ngoài Trời')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KVPL', N'May Lạnh')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KVTP', N'Trong Phòng')
INSERT [dbo].[LoaiBangGia] ([MaBG], [TenBG], [MatDinh]) VALUES (N'BGBL', N'Bán Lẻ', NULL)
INSERT [dbo].[LoaiBangGia] ([MaBG], [TenBG], [MatDinh]) VALUES (N'BGBS', N'Bán Sỉ', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MaBP], [HoTen], [DiaChi], [DienThoai], [MaSoThue], [IsKeToan], [IsThuNgan]) VALUES (N'NV01', N'BPKT', N'Trần Văn Cường', N'Đà Nẵng', N'0123456789', N'MT11', NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MaBP], [HoTen], [DiaChi], [DienThoai], [MaSoThue], [IsKeToan], [IsThuNgan]) VALUES (N'NV02', N'BPOT', N'Bùi Xuân Lộc', N'Huế', N'0123456789', N'MT12', NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MaBP], [HoTen], [DiaChi], [DienThoai], [MaSoThue], [IsKeToan], [IsThuNgan]) VALUES (N'NV03', N'BPKT', N'Nguyễn Tiến Đạt', N'Huế', N'0123456789', N'MT13', 1, 1)
INSERT [dbo].[NhomHang] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNAU', NULL, N'Thức ăn', 0)
INSERT [dbo].[NhomHang] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNCB', NULL, N'Chế Biến', 2)
INSERT [dbo].[NhomHang] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNCF', NULL, N'CaFe', NULL)
INSERT [dbo].[NhomKhach] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNKH', NULL, N'Nhóm khách hàng', 0)
INSERT [dbo].[NhomKhach] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNNC', NULL, N'Nhà cung cấp', 1)
INSERT [dbo].[NhomKhach] ([MaNhom], [MaCha], [TenNhom], [LoaiNhom]) VALUES (N'MNTX', NULL, N'Khách hàng thường xuyên', 0)
INSERT [dbo].[SanPham] ([MaSP], [MaNhom], [TenSP], [MaDVT], [SLDK], [GTDK], [IsMenu]) VALUES (N'SP01', N'MNNU', N'Nước lọc', N'Chai', 50, 3000, NULL)
INSERT [dbo].[SanPham] ([MaSP], [MaNhom], [TenSP], [MaDVT], [SLDK], [GTDK], [IsMenu]) VALUES (N'SP02', N'MNNU', N'Nước bò húc', N'Lon', 55, 10000, NULL)
INSERT [dbo].[SanPham] ([MaSP], [MaNhom], [TenSP], [MaDVT], [SLDK], [GTDK], [IsMenu]) VALUES (N'SP03', N'MNNU', N'Nước CocaCola', N'Lon', 60, 6000, NULL)
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau]) VALUES (N'NV01', N'NV01      ', N'1         ')
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau]) VALUES (N'NV02', N'NV02      ', N'1         ')
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau]) VALUES (N'NV03', N'NV03      ', N'g15hm55   ')
ALTER TABLE [dbo].[BangGia]  WITH CHECK ADD  CONSTRAINT [FK_BangGia_LoaiBangGia] FOREIGN KEY([MaBG])
REFERENCES [dbo].[LoaiBangGia] ([MaBG])
GO
ALTER TABLE [dbo].[BangGia] CHECK CONSTRAINT [FK_BangGia_LoaiBangGia]
GO
ALTER TABLE [dbo].[BangGia]  WITH CHECK ADD  CONSTRAINT [FK_BangGia_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BangGia] CHECK CONSTRAINT [FK_BangGia_SanPham]
GO
ALTER TABLE [dbo].[BanPhong]  WITH CHECK ADD  CONSTRAINT [FK_BanPhong_KhuVuc] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KhuVuc] ([MaKV])
GO
ALTER TABLE [dbo].[BanPhong] CHECK CONSTRAINT [FK_BanPhong_KhuVuc]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [FK_ChungTu_BanPhong] FOREIGN KEY([SoBan])
REFERENCES [dbo].[BanPhong] ([SoBan])
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [FK_ChungTu_BanPhong]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [FK_ChungTu_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [FK_ChungTu_KhachHang]
GO
ALTER TABLE [dbo].[ChungTu]  WITH CHECK ADD  CONSTRAINT [FK_ChungTu_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChungTu] CHECK CONSTRAINT [FK_ChungTu_NhanVien]
GO
ALTER TABLE [dbo].[DongCT]  WITH CHECK ADD  CONSTRAINT [FK_DongCT_ChungTu] FOREIGN KEY([SoCT])
REFERENCES [dbo].[ChungTu] ([SoCT])
GO
ALTER TABLE [dbo].[DongCT] CHECK CONSTRAINT [FK_DongCT_ChungTu]
GO
ALTER TABLE [dbo].[DongCT]  WITH CHECK ADD  CONSTRAINT [FK_DongCT_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DongCT] CHECK CONSTRAINT [FK_DongCT_SanPham]
GO
ALTER TABLE [dbo].[DVTKhac]  WITH CHECK ADD  CONSTRAINT [FK_DVTKhac_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DVTKhac] CHECK CONSTRAINT [FK_DVTKhac_SanPham]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NhomKhach] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomKhach] ([MaNhom])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_NhomKhach]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_BoPhan] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhan] ([MaBP])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_BoPhan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DonViTinh] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DonViTinh] ([MaDVT])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DonViTinh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhomHang] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomHang] ([MaNhom])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhomHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[ThanhPhan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhPhan_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ThanhPhan] CHECK CONSTRAINT [FK_ThanhPhan_SanPham]
GO
USE [master]
GO
